[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.60", features = ["derive"] }
serde_json = "1.0.149"
shared = { path = "../shared" }
tokio = { version = "1.49.0", features = ["full"] }
